
.navbar {
  height: 10vh;
  background: var(--background) !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem 5rem .5rem 2rem !important;
  z-index: 999;
}

.navbar-logo {
  color: var(--foreground) !important;
  background: var(--background) !important;
  text-decoration: none;
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  width: 9rem;
  justify-content: space-evenly;
  &:hover{
    font-size: 2.3rem ;
  }
}

.nav-items {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
  border: 0 !important;
}


.toggle-btn {
 

  transform: scale(1.5);
  cursor: pointer;
}



.nav-item {
  list-style: none;
  margin-left: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: var(--foreground);
  background: var(--background);
  font-size: 1.6rem !important;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s all ease-out;
}

.nav-item a:hover {
  background: #e0a80d;
  color: #ffffff;
}
.nav-item i{
  display: none;
}
.nav-item i:hover {
  background: #e0a80d;
  color: #ffffff;
}

.nav-item i {
  color: var(--foreground) !important;
}
.nav-item a span {
  margin-left: 0.7rem;
  font-size: 1.6rem;
}

.sidebar-toggle {
  width: 65vw;
  display: flex;
  justify-content: flex-end;
}

.sidebar-toggle-logo {
  font-size: 2.3rem;
  color: var(--foreground);
  cursor: pointer;
}

.sidebar {
  width: 16rem;
  background: var(--background);
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: -100%;
  z-index: 999;
  transition: 0.3s all ease-in-out;
}

.sidebar.active {
  left: 0;
}

.sidebar-items {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.2s all ease-out;
  margin: 0 auto;
}

.sidebar-item {
  list-style: none;
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
}

.sidebar-item a {
  text-decoration: none;
  color: var(--foreground);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-out;
}

.sidebar-item a span {
  margin-left: 1.5rem;
  font-size: 1.4rem;
}

.sidebar-item a:hover {
  background: #e0a80d;
}

.sidebar .btn {
  margin-top: 2.4rem;
  width: 100%;
}


@media (max-width: 1200px) {
.navbar {

  display: flex;
  align-items: center;
  justify-content: space-between;

}
}

@media screen and (max-width: 1065px) {

  .sidebar{
    position: fixed;
    background: var(--background);
  }

  .sidebar-items{
    margin-bottom: 20px;
    width: 13rem;
    padding: 1rem;
    background: var(--background);
  }
  
  .toggle-btn {
   
    text-align: center  ;
    margin: 0 auto;
  
  }


}

@media screen and (max-width: 768px) {

  .sidebar{
    position: fixed;
    background: var(--background);
  }

  .sidebar.active {
    width: 8rem;
  }

  .sidebar-items{
    
    width: 8rem;
    margin-bottom: 20px;
    padding: 1rem;
    
  }
  .sidebar-item a {
    justify-content: center;
  }

  .sidebar-item a i {
    font-size: 2rem;
   
  }
  .sidebar-item a span {
    display: none;
  }

  
.toggle-btn {
  
  transform: rotate(90deg);
  text-align: center  ;
  margin: 0 auto;

}
 
}

