@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');


*{

  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar{
    width: 1rem;;
  }

  &::-webkit-scrollbar-track{
    background: #5c5b5b;
  }

  &::-webkit-scrollbar-thumb{
    background: #e0a80d;
    border-radius: 5rem;
  }
}


.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-0); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}


.article-title {
  position: relative;
  padding-bottom: 7px;
  z-index: 10;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: #e0a80d;
  border-radius: 3px;
}

body{
  background: var(--background);
  padding-bottom: .5rem;
  font-family: 'Poppins', sans-serif;
}

 

section{
  padding: 3rem 9%;
}



.btn{
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  background-color: #e0a80d;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    background-color: #e0a80d;
    color: #ffffff;
  }

}


.navbar{
  position: fixed;
  top:0; left:0; right:0;
  display: flex;
  z-index: 999;
  margin-bottom: 30px;
  box-shadow: -3px -3px 7px #9e9e9e;


}






footer{
  width: 100%;
  text-align: center;
  padding: 20px 10px 10px;
  box-shadow: 0 -5px 5px -5px rgb(182, 181, 181);
  .footer_span{
    font-size: 13px;
    color: #5c5b5b;
  }
}











// media queries 

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

  section{
    padding:3rem 2rem;
  }

}

@media (max-width:794px){
  .home{
    .content{
      text-align: center;
      .--btns{
        display: flex;
        justify-content: center !important;
        align-items: center;
      } 
    }
  }
}
@media (max-width:768px){

  .heading{
    font-size: 8vw;
  }

  .navbar{

    a{

      i{
        padding:0;
      }

      span{
        display: none;
      }

      &:hover{
        padding-bottom: 2rem;
      }
    }
  }


.about{
  width: 100%;
  .main{
    flex-direction: column;
    .about-text{
      width: 100%;
    }
  }
}
  .contact .row form .inputBox input{
    width:100%;
    margin-bottom: 1rem;
  }
}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

}

.main {
  max-width: 100%;
  overflow: hidden;
}

